<div class="jumbotron">
    <div class="topTitle">
        <h1 class="display-4">Gaming News Commentor</h1>
    </div>
    <div class="headline">
        {{#if this}}
            {{this}}
        {{else}}
           Scrape...Save...Comment
        {{/if}}
    </div>

</div>