<nav class="navbar">
    <div>
        <a class="navbar-brand" href="/">News Commentor</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/scrape">Scrape Articles</a></li>
        </ul>
    </div>
</nav>