<div class="container-fluid">
    <div class="row">
        <div class="col">
            {{> navbar}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> jumbotron status}}
        </div>
    </div>
    <div class="row" id="mainContent">
            {{#each dbArticle}}
             {{>articles this}}
            {{/each}}
    </div>
</div>